:host {
  .my-gallery {
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .my-gallery img {
    width: 100%;
    height: auto;
  }
  .my-gallery figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 30%;
  }
  .my-gallery figcaption {
    display: none;
  }
}
