<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Grooming</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Show him how to brush his teeth step by step, or brush yours at the same time. Try an angled, long-handled, or electric toothbrush
        if you're brushing for him.
      </ion-item>
      <ion-item>
        If a woman wants to wear makeup, encourage it. Help her with lipstick and powder, if she wants. Skip eye makeup if it seems too hard
        for her to tackle.
      </ion-item>
      <ion-item>To keep shaving safe, use an electric razor instead of one with a blade.</ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bathing</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        Use a hand-held showerhead, rubber bath mat, grab bars, and a shower stool to prevent falls. If he has trouble getting in and out of
        the tub, try sponge baths.
      </ion-item>
      <ion-item>To help relax him during bathing, play calming music and tell him what you are doing each step of the way.</ion-item>
      <ion-item>
        Give him as much privacy as you can. Put a towel over his shoulders and lap. Clean under the towel with a washcloth or sponge.
      </ion-item>
      <ion-item>
        If she tends to get anxious and hitting is a problem, give her a washcloth to hold. She'll be less likely to strike and may calm
        down.
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Getting Dressed</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        Make it easier for him to dress on his own. Lay out his clothes in the order he puts them on, or hand him one piece of clothing at a
        time.
      </ion-item>
      <ion-item>If he wants to wear the same clothes every day, don't fight it. Buy 3 or 4 sets of them.</ion-item>
      <ion-item>
        Make sure he has loose clothes that are easy to put on. Shorts and pants with elastic waistbands and slip-on shoes are good. Skip
        shoelaces, buttons, and buckles.
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Eating</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Keep mealtime simple and calm. Turn off the TV and radio. Move unneeded items off the table. If having many foods at once confuses
        him, serve one thing at a time.
      </ion-item>
      <ion-item>
        Use solid-colored plates on a contrasting place mat so it's easier to tell her food from her plate and her plate from the table.
      </ion-item>
      <ion-item>Remind him to chew and swallow, if you need to. Don't hurry. Be patient, and give him plenty of time to eat.</ion-item>
      <ion-item>
        As it becomes harder for him to eat on his own, try finger foods like tuna sandwiches, steamed broccoli pieces, or orange segments.
        If swallowing is hard for him, serve softer foods like applesauce, cottage cheese, and scrambled eggs.
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Activities</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Helping with chores can boost self-esteem. Ask him to dust, sweep, fix things, sort socks, fold laundry, read a recipe for you, or
        measure when you cook.
      </ion-item>
      <ion-item>
        Stay active. Take a walk together every day to keep muscles strong, boost mood, and help with sleep. If he can't get around well, he
        may be able to use a stationary bike or resistance bands.
      </ion-item>
      <ion-item>
        Playing word games, doing puzzles, talking about current events, or gardening can fuel thinking and memory. Listening to music (and
        playing "name that tune") can also bring back fond thoughts. Be sensitive -- if you sense he feels frustrated or upset by an
        activity, try something else.
      </ion-item>
      <ion-item>If an activity isn't working, it might just be the wrong time. Try it again later.</ion-item>
      <ion-item>
        The outcome of chores or games doesn't matter. The time you spend together and the activities that give joy or meaning to your loved
        one’s day do.
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Communicating</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Communication is one of the major challenges, both for the caregiver and the patient, with understanding and being understood
        becoming more difficult.
      </ion-item>
      <ion-item>
        It’s best to choose simple words and use short sentences with a gentle tone of voice. Also, try and minimize noise and distractions
        like the TV or radio. This will help the person focus on what you’re saying.
      </ion-item>
      <ion-item>
        Avoid talking to the person with AD like they are a baby or as if they’re not even there. Call them by their name and make sure you
        have their attention before you start talking. If they’re battling to communicate a thought or find the right word, try and provide
        it in a gentle way.
      </ion-item>
      <ion-item>If you ask a question, wait patiently for a response and try not to interrupt them.</ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sleep problems</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Even sleep can become problematic for a person with AD. While you might be ready to fall asleep on your feet some days, night time
        for people with Alzheimer’s can be difficult. Getting them to bed and keeping them there will need planning.
      </ion-item>
      <ion-item>
        During the day, encourage exercise and limit naps but make sure they get enough rest in the day; otherwise, exhaustion can lead to
        late afternoon restlessness.
      </ion-item>
      <ion-item>
        Keep the more demanding activities to earlier in the day, like bathing or family meals and at night, try and set a quiet tone with
        the lights dimmed and a minimum amount of noise.
      </ion-item>
      <ion-item
        >Establish a routine where bedtime is approximately the same time every night and restrict caffeine intake late in the
        day.</ion-item
      >
      <ion-item>
        If the darkness seems to disorientate or upset the patient, use night lights in their bedroom, in the hall, and in the bathroom.
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
