<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-secondary">
  <div class="col-grid">
    <!--trips-->
    <div class="col-item" [routerLink]="['/events']">
      <!-- <ion-icon name="infinite" color='secondary'></ion-icon> -->
      <img src="/assets/events.png" alt="">
      <div class="col-label">
        Events
      </div>
    </div>
    <div class="col-item" [routerLink]="['/patient']" *ngIf='userService.isCareTaker$|async'>
      <!-- <ion-icon name="infinite" color='secondary'></ion-icon> -->
      <img src="/assets/patient.png" alt="">
      <div class="col-label">
        Patient
      </div>
    </div>
    <div class="col-item" *ngIf='userService.isPatient$|async'>
      <!-- <ion-icon name="infinite" color='secondary'></ion-icon> -->
      <img src="/assets/location.jpg" alt="">
      <div class="col-label">
        Home Location
      </div>
    </div>
    <div class="col-item" *ngIf='userService.isPatient$|async'>
      <!-- <ion-icon name="infinite" color='secondary'></ion-icon> -->
      <img src="/assets/family.png" alt="">
      <div class="col-label">
        Family
      </div>
    </div>
    <!---->
    <div class="col-item" (click)="onLogOut()">
      <ion-icon name="log-out" color='danger'></ion-icon>
      <div class="col-label">
        Log Out
      </div>
    </div>
  </div>
</ion-content>
