<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ng-container *ngIf="userService.isPatient$ | async">Patient </ng-container>
      <ng-container *ngIf="userService.isCareTaker$ | async">Care Taker </ng-container>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-secondary h-100 home-content">
    <div class="col-grid">
      <!--trips-->
      <ion-card class="col-item" (click)="openEvents()">
        <!-- <ion-icon name="infinite" color='secondary'></ion-icon> -->
        <img src="/assets/events.png" alt="" />
        <div class="col-label">
          Events
        </div>
      </ion-card>
      <ion-card class="col-item" (click)="viewPatient()" *ngIf="userService.isCareTaker$ | async">
        <!-- <ion-icon name="infinite" color='secondary'></ion-icon> -->
        <img src="/assets/patient.png" alt="" />
        <div class="col-label">
          Patient
        </div>
      </ion-card>
      <ion-card class="col-item" routerLink="/tips" *ngIf="userService.isCareTaker$ | async">
        <ion-icon name="help" color='secondary'></ion-icon>
        <div class="col-label">
          Tips
        </div>
      </ion-card>
      <ion-card class="col-item" (click)="viewPatient()" *ngIf="userService.isPatient$ | async">
        <!-- <ion-icon name="infinite" color='secondary'></ion-icon> -->
        <img src="/assets/patient.png" alt="" />
        <div class="col-label">
          Profile
        </div>
      </ion-card>
      <ion-card
        class="col-item"
        *ngIf="userService.isPatient$ | async"
        (click)="onTracking(user.HomeLatLng)"
        appLocation
        disableOnClickTrigger="true"
      >
        <!-- <ion-icon name="infinite" color='secondary'></ion-icon> -->
        <img src="/assets/location.jpg" alt="" />
        <div class="col-label">
          Home Location
        </div>
      </ion-card>
      <ion-card
        class="col-item"
        *ngIf="userService.isCareTaker$ | async"
        (click)="onTrackingPatient()"
        appLocation
        disableOnClickTrigger="true"
      >
        <img src="/assets/location.jpg" alt="" />
        <div class="col-label">
          Track
        </div>
      </ion-card>
      <ion-card class="col-item" *ngIf="userService.isPatient$ | async">
        <a href="tel:{{ user.PhoneNumber }}" class="home-icon-link">
          <ion-icon name="call" color="secondary"></ion-icon>
          <div class="col-label">
            Care Taker
          </div>
        </a>
      </ion-card>
      <ion-card class="col-item" *ngIf="userService.isPatient$ | async" [routerLink]="['/families/', user?.Uid]">
        <!-- <ion-icon name="infinite" color='secondary'></ion-icon> -->
        <img src="/assets/family.png" alt="" />
        <div class="col-label">
          Family
        </div>
      </ion-card>
      <ion-card class="col-item" routerLink="/gallery">
        <ion-icon name="images" color='secondary'></ion-icon>
        <div class="col-label">
          Gallery
        </div>
      </ion-card>
      <!---->
      <ion-card class="col-item align-self-end" (click)="onLogOut()">
        <ion-icon name="log-out" color="danger"></ion-icon>
        <div class="col-label">
          Log Out
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
<app-drawer [options]="drawerOptions" *ngIf="userService.isPatient$ | async" #drawer>
  <app-device-connect [drawer]="drawer"></app-device-connect>
</app-drawer>
